{% comment %} <div class="tc-wrap">
  <label class="tc-label">
    <input id="tc-agree" type="checkbox">
    <input type="hidden"
           name="attributes[TC_Accepted]"
           id="tc-flag"
           value="">
    I agree to the&nbsp;
    <a href="/policies/terms-of-service" target="_blank">Terms&nbsp;and Conditions</a>.
  </label>
  <div class="tc-error" hidden>Please agree to the Terms & Conditions.</div>
</div> {% endcomment %}
